:host {
  display: block;
  position: relative;
}

button {
  // TODO: remove later
  // width: 100%;
  width: 300px;

  height: 43px;
  border-radius: 8px;
  background-color: #50a2e9;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #2c8fe4;
  }
}

div {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
