button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: #4ea4f6;
  cursor: pointer;
  // TODO: add shadow
}

.icon {
  font-size: 2.4rem;
  color: #fff;
}
