:host {
  display: block;
  width: 100%;
  height: 100%;
}

#upload-avatar {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label {
  display: flex;
  height: 100%;
  border-radius: 50%;
  background-color: #50a2e9;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  filter: brightness(50%);
}

.icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  align-self: center;
  color: #fff;
  font-size: 3rem;
}
