<div class="image-container">
  <app-avatar-picker></app-avatar-picker>
</div>

<h1 class="title">Your Name</h1>

<p class="subtitle">Enter your name and add a profile picture.</p>

<form [formGroup]="form">
  <app-input-field class="name-input" [label]="'Name'">
    <input appInputRef id="name" formControlName="firstName" />
  </app-input-field>

  <app-input-field class="last-name-input" [label]="'Last Name (optional)'">
    <input appInputRef id="last-name" formControlName="lastName" />
  </app-input-field> 

  <app-primary-button [value]="'start messaging'" (clickEvent)="signUp()"></app-primary-button>
</form>



