:host {
  display: block;
  padding: 1rem 3rem;
  background-color: #fff;
}

.close {
  width: 2rem;
  height: 2rem;
}

.avatar-container {
  position: relative;
  overflow: hidden;
}

.cutbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

img {
  user-select: none;
  pointer-events: none;
}
