:host {
  display: flex;
  height: 33.4rem;
  padding: 1.3rem 0;
  background-color: #fff;
  border-radius: 2%;
}

h3 {
  margin-top: 0;
  margin-left: 0.7rem;
  position: absolute;
  top: -3.4rem;
}

.col {
  &-left {
    display: flex;
    justify-content: center;
    width: 4.7rem;
  }

  &-center {
    align-self: center;
    position: relative;
  }

  &-right {
    align-self: flex-end;
    width: 4.7rem;
  }
}

.close {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

.avatar-container {
  height: 24rem;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.cutbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

img {
  user-select: none;
  pointer-events: none;
  max-height: 24rem;
}
