:host {
  display: block;
  width: max-content;
  position: relative;
}

.dropdown-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  transition: all 0.2s;
  color: #707579;
  cursor: pointer;

  &.up {
    transform: rotate(180deg) translateY(50%);
    color: #4ea4f6;
  }
}

.country-list {
  width: 100%;
  max-height: 25.1rem;
  position: absolute;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  z-index: 1;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;

  &.hidden {
    visibility: hidden;
  }
}

.country {
  list-style: none;
  height: 3.8rem;
  display: grid;
  grid-template-columns: 3.8rem auto 5rem;
  padding: 0 1rem;
  font-size: 1.1rem;

  & > span {
    display: flex;
    align-items: center;
  }

  & > .emoji {
    justify-content: flex-start;
  }

  & > .phone {
    justify-content: flex-end;
  }
}
