<div (click)="onInputContainerClick($event.target)">
  <app-input-field
    [id]="'country-dropdown'"
    [label]="'Country'"
    [focus]="!hidden"
    [value]="inputValue"
    (update)="onCountryNameEntered($event)"
  ></app-input-field>
  <i #dropdownIcon class="icon-down dropdown-icon" [class.up]="!hidden"></i>
</div>

<div class="country-list-container" [class.hidden]="hidden">
  <ul class="country-list">
    <li
      *ngFor="let country of countryList"
      class="country"
      (click)="onCountrySelected(country)"
    >
      <span class="emoji">
        <img [src]="country.emojiUrl" [alt]="country.emoji" />
      </span>
      <span>{{ country.name }}</span>
      <span class="phone">{{ country.phone }}</span>
    </li>
  </ul>
</div>
