:host {
  display: block;
  position: relative;
}

:host ::ng-deep input {
  $active-color: #4ea4f6;
  $error-color: #ea605d;

  width: 100%;
  height: 43px;
  padding: 0 1rem;
  border: 1px solid #dadce0;
  border-radius: 8px;
  caret-color: $active-color;
  transition: border-color 0.2s;

  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }

  &:focus {
    border-color: $active-color;
    border-width: 2px;
    padding: 0 calc(1rem - 1px);

    & + label {
      color: $active-color;
    }

    &.error + label {
      color: $error-color;
    }

    &.error {
      border-color: $error-color;
      caret-color: $error-color;
    }
  }

  &:focus,
  &:not(:placeholder-shown) {
    & + label {
      transform: translateY(-220%);
      padding: 0 5px;
      left: 0.75rem;
      font-size: 0.8rem;
    }
  }
}

label {
  user-select: none;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  transition: all 0.2s;
  background-color: #fff;
  color: #9e9e9e;
  cursor: text;
}

.eye {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #929ba1;
  cursor: pointer;
}
