:host {
  display: block;
}

.image-container {
  width: 10.7rem;
  height: 10.7rem;
  margin: auto;
  margin-bottom: 2.9rem;

  img {
    width: inherit;
  }
}

app-country-dropdown {
  margin-bottom: 1.6rem;
}

app-input-field {
  margin-bottom: 1.4rem;
}

app-checkbox {
  margin-left: 1.2rem;
  margin-bottom: 2.7rem;
}
