:host {
  display: block;
}

.image-container img {
  width: inherit;
}

app-country-dropdown {
  margin-bottom: 1.6rem;
}

app-input-field {
  margin-bottom: 1.4rem;
}

app-checkbox {
  margin-left: 1.2rem;
  margin-bottom: 2.7rem;
}
