<div class="image-container">
  <img src="../../../assets/logo.svg" draggable="false" />
</div>

<h1 class="title">Sign in to Telegram</h1>

<p class="subtitle">Please confirm your country and enter your phone number.</p>

<app-country-dropdown
  [phone]="phone"
  (countrySelect)="onCountrySelected($event.phone)"
></app-country-dropdown>

<app-input-field [label]="phoneInputLabel" [status]="phoneInputStatus">
  <input
    #input
    appInputRef
    id="tel"
    [value]="phone"
    (input)="setPhone($event.target.value)"
  />
</app-input-field>

<app-checkbox>
  <mat-checkbox>Keep me signed in</mat-checkbox>
</app-checkbox>

<app-primary-button
  [value]="'next'"
  [status]="buttonStatus"
  (clickEvent)="onButtonClick()"
></app-primary-button>
