:host {
  display: block;
}

.image-container {
  position: relative;

  & > .monkey-container {
    position: absolute;
  }
}

.edit {
  font-size: 1.6rem;
  margin-left: 0.7rem;
  color: #707579;
}
