<div class="image-container">
  <div #idleMonkeyContainer class="monkey-container"></div>
  <div #trackingMonkeyContainer class="monkey-container"></div>
</div>

<h1 class="title">
  {{ phone }}
  <a routerLink="/phone">
    <i class="edit icon-edit"></i>
  </a>
</h1>

<p class="subtitle">We have sent you an SMS with the code.</p>

<app-input-field [label]="inputLabel" [status]="inputStatus">
  <input
    appInputRef
    id="code"
    maxlength="5"
    (input)="onInput($event.target.value)"
    (mouseover)="onInputMouseOver()"
  />
</app-input-field>
