@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

input,
button {
  &:focus {
    outline: none;
  }
}

button {
  border: none;
}
