:host {
  display: block;
  position: relative;
  width: max-content;
}

.eye {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #929ba1;
  cursor: pointer;
}
